modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["postgresql"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[deployment.healthcheck]
url = "http://localhost:5000/api/health"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
SUPABASE_DB_URL = "postgresql://postgres.wwfdrhlknhlrxhgkookg:rxM3Az0A0fmnMuEF@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?sslmode=require"
JWT_SECRET = "e3c4948dde0ad90d8759a1c983a84185afd46900c8a549328543a7d2d6f69853"
ADMIN_PASSWORD = "Chomukamba"
